body, html
    font-family: 'Roboto', sans-serif;
    fontsize 14px
    margin 0px
    paddig 0px

body
    background-color: #f9f9f9
    background-image: url("../../static/images/fodo-login.jpg")
    width: 100%

label
    display: block

*
    -webkit-transition all 0.5s ease
    transition all 0.5s ease

.mtop16
    margin-top: 16px
.shadow
    box-shadow: -7px 11px 8px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: -7px 11px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -7px 11px 8px 0px rgba(0,0,0,0.5);
.page
    
    align-items: center //vertical
    display: flex
    box-sizing: border-box
    justify-content: center //horizontal
    height: 100vh
    width: 100%
    .box
        background-color: #fff
        //align-items: center
        border-bottom: 4px solid #00b2ee
        border-radius: 8px
        padding: 4px
        width 480px
        height 650px

        .logo
            display: block
            width: 100%
            text-align: center
            img 
                display: block
                margin: 0px auto
                

        h2.title 
            display: block
            font-weight: 500
            font-size: 1.5em
            margin: 0px
            text-align: center
            padding: 0px
    
    .group
        position: relative
        width: 100%
        margin-top: 4px
        input
            border: 1px solid #cccc
            border-radius: 2px
            box-sizing: border-box
            display: block
            padding: 10px
            padding-left: 40px
            width: 100%
            &:focus
                outline: none
                border: 2px solid #00b2ee
        i 
            color #1a1919
            position: absolute
            font-size: 1.5em
            top 4px
            left: 10px
            z-index 1
    .btn
        display: block
        margin-bottom: 10px
        border: 0px
        padding: 12px
        background-color: #00b2ee
        border: 1px solid #00b2ee
        font-weight: 500
        font-size: 1.2em
        color: #fff
        border-radius: 2px
        width: 100%
        &:hover
            background-color: #fff
            color: #00b2ee
    p 
        margin-top: 0px
        padding: 0

.page_app
    background-color: #fff
    .box
        background-color: transparent !important
        border-bottom: 0px !important
        width: 100% !important
        .logo
            img
                width: 60%


.loader_action
    justify-content: center
    align-items: center
    display: none
    background-color: rgba(0,0,0, .5)
    width: 100%
    height: 100vh
    position: fixed
    z-index: 999
    .action
        align-items: center
        display flex
        background-color: #fff
        border-radius: 8px
        width: 330px
        padding: 16px
        overflow: hidden
        box-sizing: border-box
        justify-content: center
        .col
            display: block
            flex: initial
            color: #333
            float: left
            &:first-child
                width: 40px
                img
                    display: block
                    width: 100%
            &last-child
                margin-left: 5%
                position: relative
                width: calc(95% - 40px)

.loader_action_animation_show
    animation-timing-function: ease-in-out;
    animation: action_show 0.7s forwards;
.loader_action_animation_hide
    animation-timing-function: ease-in-out;
    animation: action_hide 0.7s forwards;

@keyframes action_show {
    0%{opacity 0}
    100%{opacity 1}    
}
@keyframes action_hide {
    0%{opacity 1}
    100%{opacity 0}    
}

